/* Général */

.mainTitle {
    font-weight: 700;
    font-size: 4rem;
    color: #B5B175;
    margin-bottom: revert;
    -webkit-text-stroke: 2px #9B3E3C;
}

.img-fluid {
    max-weight: 15%;
    opacity: 60% !important;
}

.background-white {
    background-color: white;
}

.text-green {
    color: #B5B175;
}

.page-link.active {
    color: white;
    background-color: #22B5B175;
}

h2 {
    color: #99911F !important;
}

.buttons {
    background: #B5B175 !important;
    color: white !important;
    height: 50px;
    font-size: 1,5rem !important;
    font-weight: 700 !important;
}

.card-title {
    color: #B5B175 !important;
}

/* Liens */

.active>.page-link, .page-link.active {
    color: white !important;
    background-color: #B5B175 !important;
    border-color: #B5B175 !important;
}

.page-link {
    color: #B5B175 !important;
}

.nav-link {
    font-weight: 700;
}

.nav-link.active,
.nav-link-title {
    color: #8976B5 !important;
}

.nav-link-title:hover {
    color: #412F69 !important;
}

#admin-menu {
    color: #412F69;
    font-weight: 700;
}

.promo-price {
    font-weight: 700;
    color: red;
}

/* Page admin */

.body-admin
 {
 overflow:hidden;
 }

/* Formulaire */

.form-description {
    height: 200px !important;
}

#idPrice {
    width: 40%;

}

/* Catalogue */

.row>* {
    min-height: 400px !important;
}

