<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modification de produit</title>
    <div th:replace="headerBase"></div>
</head>
<body class="theme-light body-admin">
    <div class="page">

        <div th:replace="admin-menu"></div>


        <div class="page-wrapper">
            <img th:src="@{/pictures/page-login.jpg}" style="max-width: 100%;height: 100%;" />
        </div>
    </div>
</body>
</html>

<script>
    function Logout(_login) {
        $.ajax({
            type: "POST",
            url: "http://localhost:8081/logout",
            data: _login,
            success: function(response) {
              alert(response.data);
              window.location.href = "/admin-page";
            },
            error: function(xhr, status, error) {
              alert("Erreur de la déconnexion : " + error);
            }
        });
    }
</script>