<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Catalogue</title>
        <div th:replace="headerBase"></div>
        <script th:src="@{/js/addon-admin.js}" th:inline="javascript"></script>
    </head>
    <body class="theme-light">
        <div class="page">
            <div th:replace="admin-menu"></div>
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="container-xl">
                        <div th:replace="catalog-base"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="idDialogDeleteProduct" tabindex="-1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Suppression d'un produit</h5>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr(e) de vouloir supprimer le produit?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn me-auto" data-bs-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-primary" id="idButtonValidModalDelete" data-bs-dismiss="modal">Confirmer</button>
                </div>
              </div>
            </div>
          </div>

    </body>
</html>