<!DOCTYPE html>
<html lang="fr" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <div th:replace="headerBase"></div>
</head>
<body>
<div class="page page center">
    <div th:replace="index-base"></div>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div th:replace="catalog-base"></div>
            </div>
        </div>
    </div>


</div>
<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        <a class="link-secondary" href="https://info.studi.fr/catalogue/?utm_source=google&utm_medium=cpc&utm_campaign=studi-all-search-m-acq&utm_content=all-t-Broad&utm_term=%C3%A9cole%20studi&gclid=Cj0KCQjwr82iBhCuARIsAO0EAZwW7bdJ-qnxak2FJxGkNTj79dCqMhIwKzEKtKSybDvXpST7AtQEe9UaAj2EEALw_wcB" rel="noopener"
                           target="_blank">
                            <svg class="icon text-pink icon-filled icon-inline"
                                 fill="none" height="24" stroke="currentColor"
                                 stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
                            </svg>
                            Studi
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright © 2023 - Aline Squarzoni
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

<script>
    const addonHtml = null;
</script>