<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Modification de produit</title>
        <div th:replace="headerBase"></div>
        <script th:src="@{/js/change-product.js}" th:inline="javascript"></script>
    </head>
    <body class="theme-light">
        <div class="page">

            <div th:replace="admin-menu"></div>


            <div class="page-wrapper">
                <div class="page-body">

                    <div class="container-xl">

                        <div class="card">

                            <div class="card">
                                <div class="card-header">
                                    <ul id="idUlCategories" class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                                    </ul>
                                </div>

                                <div class="card-body">
                                    <div id="idDivProducts" class="tab-content">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>