<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modification de produit</title>
    <div th:replace="headerBase"></div>
</head>
<body class="d-flex flex-column bg-white theme-light">
<script src="./dist/js/demo-theme.min.js?1674944800"></script>
<div class="row g-0 flex-fill">
    <div th:replace="admin-menu"></div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="padding: 3%" id="idUlCategories">
                <!-- Liste des catégories -->
            </ul>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="row mb-2" id="idDivProducts">

                <!-- Liste des produits -->
            </div>
    </nav>
    <!-- Page body -->
    <div class="page-body">
        <div class="row mb-2" id="idDivProducts">

            <!-- Liste des produits -->
        </div>
</div>
<!-- Libs JS -->
<!-- Tabler Core -->
<script src="./dist/js/tabler.min.js?1674944800" defer=""></script>
<script src="./dist/js/demo.min.js?1674944800" defer=""></script>

</body>
</html>