<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une catégorie</title>
    <div th:replace="headerBase"></div>
    <script th:src="@{/js/form-add-category.js}" th:inline="javascript"></script>
</head>
<body>
<div class="page page-center">
<div class="container container-tight py-4">
    <h2 class="text-center mb-4">Ajout d'une catégorie de produit</h2>
    <div class="card">
    </div>
    <div class="card-body">
        <form id="idFormCategory" enctype="multipart/form-data">
            <fieldset class="form-fieldset">
                <div class="mb-3">
                    <label class="form-label">Nom de la catégorie à ajouter</label>
                    <input id="idCategoryName" type="text" class="form-control" autocomplete="off">
                </div>
                <div style="text-align-last: center;">
                    <button type="submit" class="btn buttons ms-auto">Valider</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>
</body>