<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un produit</title>
    <div th:replace="headerBase"></div>
    <script th:src="@{/js/form-add-product.js}" th:inline="javascript"></script>
</head>
<body>
<div class="page page-center">
    <div class="container container-tight py-4">
        <h2 class="text-center mb-4">Ajouter un produit</h2>
        <div class="card">
            </div>
            <div class="card-body">
                <form id="idFormProduct" enctype="multipart/form-data">
                    <fieldset class="form-fieldset">
                        <div class="mb-3">
                            <label class="form-label required">Nom du produit</label>
                            <input id="idProductName" type="text" class="form-control" autocomplete="off">
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Catégorie</label>
                            <select type="int" class="form-select tomselected ts-hidden-accessible" id="select-tags-advanced" tabindex="-1">
                                <!-- données des catégories chargées -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description du produit</label>
                            <textarea id="idDescription" rows="5" class="form-control" value="description" style="height: 150px;"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label required">Prix</label>
                            <input id="idPrice" type="number" class="form-control" autocomplete="off"/><div> €</div>
                        </div>
                        <div class="mb-3">
                            <div class="form-label required">Choisir une image</div>
                            <div style="font-weight:300; margin-bottom: 0.5rem;"> Formats acceptés : .jpg, .jpeg, .png</div>
                            <input type="file" class="form-control" id="idPicture" accept=".jpg, .jpeg, .png">
                        </div>
                        <div style="text-align-last: center;">
                            <a href="/admin-page" class="btn buttons ms-auto">Annuler</a>
                            <button type="submit" class="btn buttons ms-auto">Valider l'ajout du produit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>