<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Ajouter un produit</title>
  <div th:replace="headerBase"></div>
  <script th:src="@{/js/form-add-product.js}" th:inline="javascript"></script>
</head>
<body>
<div class="page page-center">
  <div class="container container-tight py-4">
    <h2 class="text-center mb-4">Ajout d'une promotion</h2>
    <div class="card">
    </div>
    <div class="card-body">
      <form id="idFormProduct" enctype="multipart/form-data">
        <fieldset class="form-fieldset">

          <div class="mb-3">
            <label class="form-label required" id="price_before">Prix initial de l'article</label>
            <input id="idProductName" type="text" class="form-control" autocomplete="off">
          </div>
          <div class="mb-3">
          <label class="form-label required" id="percent_promo">Pourcentage de réduction</label>
          <input id="idProductName" type="text" class="form-control" autocomplete="off">
          </div>


          <div style="text-align-last: center;">
            <button type="submit" class="btn buttons ms-auto">Valider la promotion</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</div>
</body>
</html>

public int calculerSomme(int nombre1, int nombre2) {
return nombre1 + nombre2;
}