<!DOCTYPE html>
<html lang="fr" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <div th:replace="headerBase"></div>
</head>
<body>
<div class="page page center">
    <div th:replace="index-base"></div>
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container container-sm">

                <p style="font-size: large;">Disposant de plus de 1675 magasins en Espagne, nous sommes une des plus grandes entreprises dans le domaine du retail.
                    Soucieux du contexte actuel écologique, nous souhaitons rendre nos promotions visibles en ligne et ainsi diminuer les déchets dûs aux flyers en papier.<br/>
                    <br/>
                    Vous trouverez ici tous nos articles et nos promotions :</p>
                <div class="text-center">
                    <a href="/catalog" class="btn w-50 btn-primary" id="notreCatalogue">
                        Notre catalogue
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>