<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="headerBase"></div>
    <script th:src="@{/js/login.js}" th:inline="javascript"></script>
</head>
<body class="d-flex flex-column bg-white theme-light">
<div class="row g-0 flex-fill">
    <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
            <h2 class="h3 text-center mb-3">
                Connexion
            </h2>
            <form action="" method="get" autocomplete="off" novalidate="" id="idFormLogin">
                <div class="mb-3">
                    <label class="form-label">Adresse mail</label>
                    <input id="idEmail" type="email" class="form-control" placeholder="votre@email.com" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Mot de passe
                        <span class="form-label-description">
                </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input  id="idPassword"  type="password" class="form-control" placeholder="Votre mot de passe" autocomplete="off">
                        <span class="input-group-text">
                  <a href="#" class="link-secondary" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password"><!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"></path></svg>
                  </a>
                </span>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Connexion</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Photo -->
        <img style="max-width: 100%;height: 100%;" th:src="@{/pictures/page-login.jpg}" />
    </div>
</div>

</body>
</html>