<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page d'administration</title>
    <div th:replace="headerBase"></div>
</head>
<body class="d-flex flex-column bg-white theme-light">
<div class="row g-0 flex-fill">
    <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
        <div class="container container-tight my-5 px-lg-5">
            <div class="text-center mb-4">
                <a href="" class="navbar-brand navbar-brand-autodark"><img src="./public/pictures/page-login.jpg" height="36" alt=""></a>
            </div>
            <h2 class="h3 text-center mb-3">
                Menu
            </h2>
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    <a href="./catalog" class="list-group-item list-group-item-action d-flex align-items-center">Voir le catalogue</a>
                    <a href="./form-update-product" class="list-group-item list-group-item-action d-flex align-items-center">Ajouter un produit</a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Modifier un produit</a>
                    <a href="./settings-plan" class="list-group-item list-group-item-action d-flex align-items-center">Ajouter une promotion à un produit</a>
                    <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Se déconnecter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
        <!-- Photo -->
        <img th:src="@{/pictures/page-login.jpg}" />
    </div>
</div>
</body>
</html>